*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 3rem 3rem;
}

nav,
.navbar,
.navbar_left,
.navbar_right {
  display: flex;
}

.navbar {
  justify-content: space-between;
}

.navbar_logo {
  padding-right: 5rem;
}

.navbar_left {
  gap: 3rem;
}

.navbar_right {
  gap: 3rem;
}
