*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem 3rem;
  font-family: Epilogue, sans-serif;
  background-color: hsl(0, 0%, 98%);
}

nav,
.navbar,
.navbar_left,
.navbar_right,
.container {
  display: flex;
}

.navbar {
  justify-content: space-between;
  color: hsl(0, 0%, 41%);
}

.navbar_logo {
  padding-right: 1rem;
}

.navbar_left {
  gap: 3rem;
}

.navbar_right {
  gap: 3rem;
  align-items: start;
}

.container {
  margin-top: 5rem;
  width: 100%;
}

.right_container img {
  width: 60%;
  margin: 0 10rem;
}

footer {
  text-align: center;
  justify-self: baseline;
}

.left_container {
  width: 50%;
  margin: 4rem 8rem;
}

.left_container h1 {
  padding-bottom: 5rem;
  font-size: 480%;
}

.left_container p {
  padding-bottom: 5rem;
  color: hsl(0, 0%, 41%);
  font-size: 120%;
}

.left_container button {
  margin-bottom: 8rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border-radius: 1rem;
  padding: 1rem;
  width: 10rem;
}

.left_container img {
  width: auto;
}

.container_logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.drop_down {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.drop_down img {
  height: fit-content;
  margin-top: 0.3rem;
}

.drop_down:hover {
  color: hsl(0, 0%, 8%);
}

.navbar_right #register {
  border: 3px solid hsl(0, 0%, 41%);
  width: 8rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 15px;
  align-items: center;
}

.navbar_right #register:hover {
  border: 3px solid hsl(0, 0%, 8%);
}

a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: hsl(0, 0%, 8%);
}

.left_container a h3 {
  cursor: pointer;
  border: 2px solid hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  width: 30%;
  padding: 1rem 0;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 8rem;
}

.left_container a h3:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
}

.todo,
.calendar,
.reminders,
.planning {
  display: flex;
  gap: 1rem;
}

.subs {
  display: flex;
  gap: 3rem;
}

.sub_features,
.sub_company {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  padding: 1.5rem;
  gap: 1rem;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 20%);
  border-radius: 10px;
  display: none;
}

.sub_features {
  margin-left: 6rem;
}

.sub_company {
  height: fit-content;
}
